<div class="min-h-screen flex items-center justify-center">
  <!-- CENTER CARD -->
  <div
    class="w-105 h-170 rounded-3xl shadow-xl flex flex-col p-6"
    [ngStyle]="{
      background: theme?.background?.value || '#000000',
      'background-color': theme?.text?.pageColor || '#EFF1F3',
    }"
  >
    <!-- Top icon -->
    <div class="self-start">
      <div class="w-8 h-8 rounded-full flex items-center bg-white justify-center">
        <img src="/images/blacklogo.png" class="w-4 h-4" alt="Logo" />
      </div>
    </div>

    <!-- Profile picture -->
    <div class="flex flex-col items-center mt-10 gap-3 mb-5">
      <div class="w-20 h-20 rounded-full border border-gray-300 overflow-hidden">
        <img
          [src]="avatarUrl ? avatarUrl : 'images/user.png'"
          alt="Profile"
          class="w-20 h-20 rounded-full object-cover"
        />
      </div>
      <span
        class="text-lg font-semibold"
        [ngStyle]="{
          color: theme?.text?.titleColor || '#374151',
        }"
      >
        {{ name }}
      </span>
    </div>

    <!-- Links -->
    <div class="w-full p-2 flex flex-wrap gap-4 justify-center">
      <ng-container *ngFor="let link of links">
        <div class="relative group">
          <a
            [href]="link.link"
            target="_blank"
            (click)="incrementLinkClicks(link._id)"
            class="w-9 h-9 rounded-full shadow-md flex items-center justify-center overflow-hidden transition duration-300"
          >
            <img
              *ngIf="link.icon"
              [src]="link.icon"
              alt="{{ link.platform }}"
              class="w-full h-full object-cover"
            />
          </a>

          <!-- Tooltip -->
          <div
            class="absolute top-full mt-2 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white text-xs rounded py-1 px-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none"
          >
            {{ link.platform | titlecase }}
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Create Button always at bottom -->
    <div class="mt-auto w-full flex justify-center mb-3">
      <button
        class="w-auto text-sm font-semibold px-10 py-3 shadow-md"
        [ngClass]="{ 'rounded-full': theme?.button?.radius === 'rounded' }"
        [ngStyle]="{
          'background-color': theme?.button?.color || '#FFFFFF',
          color: theme?.button?.textColor || '#000000',
        }"
      >
        Create your own Linktree
      </button>
    </div>
  </div>
</div>
