<div class="flex h-screen w-screen overflow-hidden bg-gray-50">
  <!-- main side bar -->
  <div class="h-full bg-gray-200 w-[13%] flex flex-col">
    <div class="flex-1">
      <div class="flex items-center gap-2 px-3 py-3 border-b border-gray-200">
        <!-- icon -->
        <div class="w-8 h-8 rounded-full bg-gray-400 flex items-center justify-center">
          <img
            src="images/user.png"
            alt="Profile"
            class="w-8 h-8 rounded-full border border-gray-300 object-cover"
          />
        </div>
        <!-- email -->
        <span class="text-sm font-medium text-gray-700"> {{ userName$ | async }}</span>
      </div>

      <!-- linktree heading -->
      <div class="flex flex-row gap-2 items-center px-4 pt-5 pb-1">
        <lucide-icon name="cannabis"></lucide-icon>
        <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-wide">My Linktree</h2>
      </div>

      <!-- menu button -->
      <div class="flex flex-col p-2 text-sm">
        <a
          [routerLink]="['/dashboard/link']"
          class="flex items-center space-x-3 px-4 py-2 rounded-2xl hover:bg-gray-300 transition-colors cursor-pointer"
        >
          <lucide-icon name="link" class="w-5 h-5 text-gray-700"></lucide-icon>
          <span class="text-gray-700 font-medium">Link</span>
        </a>

        <a
          [routerLink]="['/dashboard/design']"
          class="flex items-center space-x-3 px-4 py-2 rounded-2xl hover:bg-gray-300 transition-colors cursor-pointer"
        >
          <lucide-icon name="pencil" class="w-5 h-5 text-gray-700"></lucide-icon>
          <span class="text-gray-700 font-medium">Design</span>
        </a>

        <a
          [routerLink]="['/dashboard/insight']"
          class="flex items-center space-x-3 px-4 py-2 rounded-2xl hover:bg-gray-300 transition-colors cursor-pointer"
        >
          <lucide-icon name="chart-line" class="w-5 h-5 text-gray-700"></lucide-icon>
          <span class="text-gray-700 font-medium">Insights</span>
        </a>

        <a
          [routerLink]="['/dashboard/account']"
          class="flex items-center space-x-3 px-4 py-2 rounded-2xl hover:bg-gray-300 transition-colors cursor-pointer"
        >
          <lucide-icon name="circle-user-round" class="w-5 h-5 text-gray-700"></lucide-icon>
          <span class="text-gray-700 font-medium">Account</span>
        </a>
      </div>
    </div>

    <!-- logout -->
    <div class="border-t border-gray-300">
      <button
        class="w-full text-left px-4 py-3 hover:bg-gray-300 transition text-red-500 font-medium"
      >
        Logout
      </button>
    </div>
  </div>
  <!-- main content -->
  <div
    class="flex-1 h-full w-[60%]"
    [class.w-[63%]]="showRightSidebar"
    [class.w-[87%]]="!showRightSidebar"
  >
    <div class="h-[7%] w-full border-b border-gray-200 flex items-center justify-start pl-6">
      <h1 class="text-xl font-semibold text-gray-800">
        {{ pageName }}
      </h1>
    </div>
    <div class="w-full h-[93%]">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- side bar -->
  <div *ngIf="showRightSidebar" class="flex flex-col h-full w-[24%] border-l border-gray-300">
    <div class="h-[7%] w-full flex items-center px-5">
      <div class="bg-white rounded-2xl w-full h-[65%] flex items-center justify-center">
        linktree/{{ userName$ | async }}
      </div>
    </div>
    <div class="flex items-center justify-center h-[93%] w-full">
      <div class="bg-white rounded-[30px] w-70 h-150"></div>
    </div>
  </div>
</div>
